<div class = "container mt-3">
    <form class = "col-md-5 col-md-offset-1" action = "/signup" method = "POST">
        <div class = "controls">
            <div class = "form-group">
                <label for="formGroupExampleInput">ユーザー名</label>
                <input class = "form-control input-lg" type = "text" name = "name" placeholder = "ユーザー名を入力"><br>
                
                <label for="formGroupExampleInput">パスワード</label>
                <input class = "form-control input-lg" type = "password" name = "password" placeholder = "6~10文字"><br>
                
                <label for="formGroupExampleInput">パスワードの確認</label>
                <input class = "form-control input-lg" type = "password" name = "password_confirmation" placeholder = "パスワードをもう一度入力"><br>
            </div>
            <div class = "form-group col-lg-5">
                <button class = "form-group col-lg-4 btn btn-secondary" type = "submit">新規登録</button>
            </div>
            
            
        </div>
    </form>
</div>





<!--<form action = "/signup" method = "post">-->
<!--    <input type = "text" name = "mail" placeholder = "Eメール"><br>-->
<!--    <input type = "password" name = "password" placeholder = "パスワード"><br>-->
<!--    <input type = "password" name = "password_confirmation" placeholder = "パスワードの確認"><br>-->
<!--    <input type = "submit" name = "新規登録" >-->
<!--</form>-->