<div class = "container mt-3">
    <form class = "col-md-5 col-md-offset-1" action = "/signin" method = "POST">
        <div class = "controls">
            <div class = "form-group">
                <label for="formGroupExampleInput">ユーザー名</label>
                <input class = "form-control input-lg" type = "text" name = "name" placeholder = "ユーザー名を入力"><br>
                
                <label for="formGroupExampleInput">パスワード</label>
                <input class = "form-control input-lg" type = "password" name = "password" placeholder = "6~10文字"><br>
                
            </div>
            <div class = "form-group col-lg-5">
                <button class = "form-group col-lg-4 btn btn-success" type = "submit">ログイン</button>
            </div>
        </div>
    </form>
</div>